@font-face {
  font-family: "the_wild_breath_of_zeldaRg";
  src: url("the_wild_breath_of_zelda.woff2") format("woff2"),
    url("the_wild_breath_of_zelda.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #fccfb6;
  font-size: 20px;
}

header {
  background-color: #568233;
  color: #d49f3c;
  height: 100px;
  font-size: 50px;
  width: 100%;
  border: 1px solid #d49f3c;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-decoration: underline #613f19;
}

h1,
h2 {
  text-align: center;
  font-family: "the_wild_breath_of_zeldaRg";
}

p {
  font-family: "Press Start 2P", cursive;
  text-align: center;
  height: 200px;
  border: 2px solid black;
  margin: 130px 750px -114px 750px;
}

#start-game {
  text-align: center;
  border: 5px solid #79777a;
  max-width: 25%;
  height: 200px;
  margin-left: 46%;
  font-family: "Press Start 2P", cursive;
  border-radius: 10px;
  height: 55px;
  width: 155px;
  background: #cc9e48;
  color: #568233;
}
